<!-- <app-header [isSearch]="true" [title]="'Dashbaord'"></app-header> -->
<div class="outer">
  <div class="col-sm-3 sidenav">
    <div class="sidebar-content">
      <app-sidebar></app-sidebar>
    </div>
  </div>
  <!-- <input type="file" #fileInput accept="image/*">
  <button (click)="uploadImage()">Upload Image</button> -->
  <form action="/uploads" method="POST" enctype="multipart/form-data">
    <input type="file" #fileInput name="image">
    <button type="submit" (click)="uploadImage()">Upload Image</button>
  </form>

<!--
  <div class="drop-down-outer" [class.green-background]="isShow" [class.white-background]="!isShow">
    <div class="heading-outer" (click)="isShow = !isShow">
      <div>
        1.And we have our famous Breakfast Tacos For your morning event as well
      </div>
    <img src="../../../../../assets/svgs/dropdownarrow.svg"/>

    </div>
    <div class="content-outer" [hidden]="!isShow">
     <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab eius aspernatur recusandae quod nobis totam!</div>
     <div class="paras">
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing.</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing.</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing.</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing.</p>
     </div>
    </div>

  </div> -->
  <!-- <app-object [name]="arrayOfObjects"></app-object> -->
<!--
  <div class="row content inner-content">
    <div class="row">
      <div class="col-md-4">
        <div class="card" *ngFor="let product of products">
          <app-products [product]="product"></app-products>
        </div>
        <div class="card" *ngFor="let user of users">
          <app-user-component [users]="user"></app-user-component>
        </div>
      </div>
    </div>
  </div> -->

</div>
<!-- <app-footer></app-footer> -->
