
   
  
      <ul class="">
        <li>
            <a routerLink="/">dashbaord</a>
          </li>
    
      <li>
        <a routerLink="/allUsers">All User</a>
      </li>
      
      <li>
        <a routerLink="/allUsers">All User</a>
      </li>
      <li>
        <a routerLink="/allUsers">All User</a>
      </li>
      <li>
        <a routerLink="/allUsers">All User</a>
      </li>
      <li>
        <a routerLink="/allUsers">All User</a>
      </li>
      <li>
        <a routerLink="/allUsers">All User</a>
      </li>

      
    
    </ul>
  

   