
 <div class="col-sm-3 sidenav hidden-xs">
  <h2>Logo</h2>
  <ul class="">
    <li>
        <a routerLink="/">dashbaord</a>
      </li>

  <li>
    <a routerLink="/allUsers">All User</a>
  </li>
  
  <li>
    <a routerLink="/allUsers">All User</a>
  </li>
  <li>
    <a routerLink="/allUsers">All User</a>
  </li>
  <li>
    <a routerLink="/allUsers">All User</a>
  </li>
  <li>
    <a routerLink="/allUsers">All User</a>
  </li>
  <li>
    <a routerLink="/allUsers">All User</a>
  </li>
  <li>
    <a routerLink="/allUsers">All User</a>
  </li>
  <li>
    <a routerLink="/allUsers">All User</a>
  </li>
  <li>
    <a routerLink="/allUsers">All User</a>
  </li>
  <li>
    <a routerLink="/allUsers">All User</a>
  </li>
  <li>
    <a routerLink="/allUsers">All User</a>
  </li>

  <li>
    <a >All User</a>
  </li>
  
  <li>
    <a >All User</a>
  </li>
  <li>
    <a >All User</a>
  </li>
  <li>
    <a >All User</a>
  </li>
  <li>
    <a >All User</a>
  </li>
  <li>
    <a >All User</a>
  </li>
  <li>
    <a >All User</a>
  </li>
</ul>
</div>

  
